bash-5.1.16/

# cargo config
os/Cargo.lock
user/Cargo.lock
os/src/linker.ld

# IDE config
.idea/
.vscode/

# kernel build
os/target/

# user programs build
user/riscv64/
user/target/

# a copy of user programs debug build in "user/target/*"(for gdb)
os/user/

# developing, should be invisible in main branch
os/src/fs/fatfs/*

# unsorted
os/output.txt
os/logs/
os/src/link_app.S
os/last-*
tools/
user/.ccls-cache/

# Doc .org
Doc/**/*.org
